{% extends 'base.html' %}

{% block headline %}
    SQLAlchemy – Add user
{% endblock headline %}

{% block headline_sub %}
    This is where new users are added
{% endblock headline_sub %}

{% block content %}

<section class="container-fluid">
  <h2>Add new user</h2>
  <form class="form-inline" method="PUT" action="{{url_for('add_user')}}">
  <p>Name: <input type="input" class="form-control" size="50" name="name" placeholder="Name"></p>
  <p>Email: <input type="email" class="form-control" size="50" name="email" placeholder="Email Address"></p>
  <p><button type="submit" class="btn btn-danger">Add</button></p>
  </form>
</section>

{% endblock content %}